.info {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1rem;
    color: var(--phoenix-text-color-secondary);
    width: 20rem;
    max-width: 40%;  
}

.eventInfo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1rem;
    color: var(--phoenix-text-color-secondary);
    width: 20rem;
    max-width: 40%;
}

.phoenixMenu {
    position: absolute;
    top: 8rem
}