<app-loading [loaded]="loaded" [progress]="loadingProgress"></app-loading>
<app-ui-menu-wrapper>
    <app-event-selector></app-event-selector>
    <app-zoom-controls></app-zoom-controls>
    <app-view-options></app-view-options>
    <app-auto-rotate></app-auto-rotate>
    <app-dark-theme></app-dark-theme>
    <app-object-clipping></app-object-clipping>
    <app-main-view-toggle></app-main-view-toggle>
    <app-overlay-view></app-overlay-view>
    <app-object-selection></app-object-selection>
    <app-info-panel></app-info-panel>
    <app-performance-toggle></app-performance-toggle>
    <app-ss-mode></app-ss-mode>
</app-ui-menu-wrapper>
<app-phoenix-menu [rootNode]="phoenixMenuRoot"></app-phoenix-menu>
<div class="info">
    <h5><b>Le Cong Minh Hieu</b></h5>
    <p>Belle2 Event Display</p>
    <p>GSoC 2023</p>
</div>
<div id="eventDisplay"></div>